$color-primary: lightblue;
$color-dark: black;
$fontsize-title: 28px;

@import '../node_modules/jo-cssresets/dist/css/resets';
@import './utilities/utilities';

.a-arrow-down {
  @include arrow-down(6px);
}

.m-roulette-wheel {
  height: 200px;
  position: relative;
  width: 200px;

  &__option {
    align-items: center;
    background-color: $color-primary;
    border: 2px solid $color-dark;
    display: flex;
    font-size: $fontsize-title;
    justify-content: center;

    @include roulette-wheel(6);
  }
}
